/* Global */

body {
  background-color: #000000;
  color: white;
  /* animation: slide-up 2s ease-out; */
}
/* 
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

a{
  color: gray;
}

/* Media Component */

.media-background {
  position: relative;
  overflow: hidden;
}

.media-background video, 
.media-background img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-overlay img {
  transition: opacity 0.4s ease-in-out;
}

/* Lazy Loading */

.LazyLoad{
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible{
  opacity: 1; 
}