body {
  background-color: #000000;
  color: white;
  animation: slide-up 2s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fixed-video{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom:0;
  z-index: -1;
}

.media-background {
  position: relative;
  overflow: hidden;
}

.media-background video, 
.media-background img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay img {
  transition: opacity 0.4s ease-in-out;
}

a{
  color: gray;
}
